/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
.App {
  font-family: "Roboto Flex", "Roboto", "Helvetica ", "Arial", sans-serif;
}

.DisplayCard:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


